h1 {
  font-family: fantasy;
  font-style: oblique;
  text-align: center;
  padding: 6px;
  margin: 20px;
  background-color: #7395AE;
}

body {
  background-color: #557A95;
}

.player1 {
  float: left;
  font-weight: bold;
  font-style: italic;
}

.player2 {
  float: right;
  font-weight: bold;
  font-style: italic;
}

.container {
  text-align: center;
}
