h1 {
  font-family: fantasy;
  font-style: oblique;
  text-align: center;
}

body {}

.player1 {
  float: left;
  font-weight: bold;
  font-style: italic;
}

.player2 {
  float: right;
  font-weight: bold;
  font-style: italic;
}
